body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.red {
  background-color: red;
}

.red:active{
  background-color: rgb(243, 73, 73);
}
.green {
  background-color: green;
}

.green:active{
  background-color: rgb(0, 192, 0);
}

.blue {
  background-color: blue;
}

.blue:active{
  background-color: rgb(2, 112, 255);
}

.yellow {
  background-color: yellow;
}

.yellow:active{
  background-color: rgb(251, 253, 115);
  background-color: rgb(255, 255, 255);

}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

a{
  text-decoration: none;
  color: #FEF2BF;
  font-size: 22px;
}

a:hover{
  color: #FFF
}

.game-over {
  background-color: red;
  opacity: 0.8;
}